{% extends 'navbar.html' %}
{% block content %}
<BR>
<BR>
<h3 align="center"><i style="text-shadow:2px 2px 10px red;color:yellow;">Book Table</i></h3>
<table align="center" cellspacing="10" cellpadding="10" border="1">
    <tr>
        <th><i style="text-shadow:2px 2px 10px red;color:white;">Book Name</i></th>
        <th><i style="text-shadow:2px 2px 10px red;color:white;">Author Name</i></th>
        <th><i style="text-shadow:2px 2px 10px red;color:white;">Course</i></th>
        <th><i style="text-shadow:2px 2px 10px red;color:white;">Update</i></th>
        <th><i style="text-shadow:2px 2px 10px red;color:white;">Delete</i></th>
    </tr>
    {% for i in data %}
    <tr>
        <td><i><b style="text-shadow:2px 2px 10px white;">{{ i.Book_Name }}</b></i></td>
        <td><i><b style="text-shadow:2px 2px 10px white;">{{ i.Author_Name }}</b></i></td>
        <td><i><b style="text-shadow:2px 2px 10px white;">{{ i.Course_id }}</b></i></td>
        <td><a href="{% url 'up' i.id %}">update</a></td>
        <td><a href="{% url 'del' i.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}