{% extends 'navbar2.html' %}
{% block content %}
<form action="go_to_up" method="post">
    {% csrf_token %}
    <br>
    <br>
    <h3 align="center"><i style="text-shadow:2px 2px 10px red;color:white">Hii..{{ data.S_Name }}</i></h3>
    <br>
<table align="center" border="1" cellpadding="10" cellspacing="10">
    <tr><td><b><i style="text-shadow:2px 2px 10px white;color:black;">Name:</i></b></td><td><i><b style="text-shadow:2px 2px 2px white;color:green;">{{ data.S_Name }}</b></i></td></tr>
    <tr><td><b><i style="text-shadow:2px 2px 10px white;color:black;">Semester:</i></b></td><td><i><b style="text-shadow:2px 2px 2px white;color:green;">{{ data.S_Semester }}</b></i></td></tr>
    <tr><td><b><i style="text-shadow:2px 2px 10px white;color:black;">Phno:</i></b></td><td><i><b style="text-shadow:2px 2px 2px white;color:green;">{{ data.S_Phno }}</b></i></td></tr>
    <tr><td><b><i style="text-shadow:2px 2px 10px white;color:black;">Course:</i></b></td><td><i><b style="text-shadow:2px 2px 2px white;color:green;">{{ data.S_Course }}</b></i></td></tr>
    <tr><td colspan="2" align="center"><input type="submit" value="Edit Profile" style="background-color:blue;color:white"></td></tr>
</table>
</form>
{% endblock %}