{% extends 'navbar.html' %}
{% block content %}
<form method="post">
  {% csrf_token %}
<table align="center" cellpadding="3" cellspacing="3" border="1">
  <tr><td>Book Name:</td><td><input type="text" name="book_name" value="{{ d.Book_Name }}"></td></tr>
  <tr><td>Author Name:</td><td><input type="text" name="author_name" value="{{ d.Author_Name }}"></td></tr>
  <tr><td>Course:</td><td>
    <select name="course">
      <option selected>{{ d.Course_id}}</option>
      {% for i in data %}
      <option>{{ i.Course_Name }}</option>
      {% endfor %}
    </select>
  </td></tr>
  <tr><td colspan="2"><input type="submit" name="addbook" value="AddBook"></td></tr>
</table>
  </form>
{% endblock %}